<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gammza.chupachups.purchase.model.dao.PurchaseDao">
 	<resultMap type="pointPurRec" id="pointMap"></resultMap>
 	
 	<!-- 포인트 충전 반영 -->
 	<update id="updatePoint">
 		update member
 		set point = point + #{pointPR.pointPrice}
 		where user_id = #{pointPR.userId}
 	</update>
 	<!-- 포인트 충전 기록 -->
 	<insert id="insertPointPurRec">
 		insert into point_pur_rec
 			values(
 				POINT_SEQ.NEXTVAL,
 				#{pointPR.pointOrderNum},
 				#{pointPR.userId},
 				#{pointPR.pointName},
 				#{pointPR.pointPrice},
 				#{pointPR.paymentMethod},
 				#{pointPR.purchasedTime}
 			)
 	</insert>
</mapper>