#navPage {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.page-item {
	width: 50px;
	height: 20px;
	text-align: center;
}

.pagination {
	margin-top: 20px;
	width: 300px;
	display: flex;
	justify-content: center;
}

.col {
	text-align: center;
	border-top: groove;
}

#col-t {
	font-size: large;
	font-weight: bolder;
}

.table {
	width: 100%;
	text-align: center;
}

.bigtable {
	height: 400px;
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid black;
}

.notice {
	width: 80%;
	margin: 0 auto;
}

#title {
	margin-top: 30px;
	text-align: center;
}

button {
	margin-top: 30px;
}

/* 관리자 메인화면 */
.adminMain {
	width: 1000px;
	margin: 30px auto;
}
.adminMain>h1 {
    text-align: center;
    font-size:30px;
}


/* 관리자 메인화면 아이콘틀 */
.bigbox{
    width: 800px;
    height: 800px;
    margin-top: 50px;
    margin-left: 180px;
}


/* 관리자 메인화면 아이콘+색(오렌지, 그린) */
.adminpageBox{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.adminpageBoxHalf{
    position: relative;
    width: 300px;
    height: 137px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
.orange{
    background: #F3CF9F;
}
.green{
    background: #95D08B;
}
.adminpageBox>div{
    position: absolute;
    top:100px;
    left:50px;
    width: 200px;
    height: 100px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
}
.adminpageBoxHalf>div{
    position: absolute;
    top:25px;
    left:50px;
    width: 200px;
    height: 90px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
    line-height: 90px;
}
.halfbox{
    display: inline-block;
    width:300px;
}