@charset "UTF-8";
.ggRead-head{
    position: relative;
}
.ggRead-end{
    position: absolute;
    width: 1100px;
    background-color: rgba(0, 0, 0, 0.132);
    height: 620px;
    margin: 0 auto;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #1f1f1f 2px, #0000002f 2px, #00000045 5px, #00000045 25px );
}
.ggRead-endcont{
    font-weight: bold;
    font-size: 30px;
}
.button-end,.button-end-writer{
	font-family: 'Apple SD Gothic Neo','MYArirang_gothic','Malgun Gothic',arial,sans-serif;
    display: inline-block;
    width: 130px;
    height: 50px;
    padding: 0;
    margin: 10px 20px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    transition: all 0.2s ;
    background: rgb(200 200 200);
    border:solid 1px rgb(200 200 200);
    color:white;
    font-weight:bold;
}
.button-end:hover {
	cursor:default;
}