<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gammza.chupachups.chatRoom.model.dao.ChatRoomDao">
	<resultMap type="chatRoom" id="chatRoomMap"></resultMap>
	<select id="selectTotalRecord" resultType="_int">
		select count(*)
		  from chat_room
	</select>
	<select id="chatRoomList" resultMap="chatRoomMap">
	select *
	  from chat_room
	 where gonggu_no  IN ( select gonggu_no
    					 from parti_tb
    					 where parti_member =  #{userId} and status>0
						) 
                or room_owner =  #{userId}
		order by last_chat desc
	</select>
	<insert id="insertChatRoom">
		insert into chat_room
			 values (
			 		#{gongguNo},
			 		#{gongguNo},
			 		#{gongguWriter},
			 		default,
			 		SYSDATE		 
			 )				
	</insert>
	<update id="updateSendDate">
        update chat_room
		   set last_chat = sysdate
		 where room_no = #{roomNo}
	</update>
</mapper>