<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gammza.chupachups.chatRoom.model.dao.ChatRoomDao">
	<resultMap type="chatRoom" id="chatRoomMap"></resultMap>
		<select id="selectTotalRecord" resultType="_int">
		select count(*)
		  from chat_room
	</select>
	<select resultMap="chatRoomMap" id="chatRoomList">
		select *
		  from chat_room
		  join chat_msg using (room_no)
		 where room_no = (select room_no
		 				    from chat_room
		 				   where room_owner = '${roomOwner}')
		  order by last_chat desc
	</select>
	
</mapper>