<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gammza.chupachups.chatRoom.model.dao.ChatRoomDao">
	<resultMap type="chatRoom" id="chatRoomMap"></resultMap>
	
	<select resultMap="chatRoomMap" id="chatRoomList">
		select *
		  from chatRoom
		  order by lastChat desc
	</select>
	
</mapper>