@charset "UTF-8";

* {
    font-family: 'Apple SD Gothic Neo','MYArirang_gothic','Malgun Gothic',arial,sans-serif;
}

/* #title {
    text-align: center;
} */

.enroll-title {
    padding-top: 30px;
}

.enroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-align: center;  */
    width: 400px; 
    /* margin:auto;  */
    margin-top: 20px;
    background-color: #F9F9F9; 
    border: 1px solid #E9D296; 
    border-radius: 30px;
    height: 120px;
}    

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-align: center;  */
    width: 450px; 
    /* margin:auto;  */
    margin-top: 40px;
    background-color: #F9F9F9; 
    border: 1px solid #E9D296; 
    border-radius: 30px;
    height: 300px;
}    

.lo {
    width: 440px; 
    margin: auto; 
    margin-top: 40px;
    box-sizing:border-box; 
    border: 1px solid #E9D296; 
    height: 120px;
}    
th, td {
    /* width: 500px; */
    padding: 7px;
}

.enroll-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px 20px; */
}

.enroll-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
}



.table1 {
    /* text-align: center;
    margin: auto;
    margin-top: 20px; */
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.add {
    width: 320px;
}

.add input {
    background-color: #F9F9F9; 
    width: 300px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 2px;
}
.bo {
    width: 130px; 
    height: 40px; 
    background: rgba(94, 177, 98, 0.75); 
    color: white; 
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.btn-cont {
    /* padding: 20px; */
}

.bo-small {
    width: 300px; 
    height: 30px; 
    background: rgba(94, 177, 98, 0.75); 
    color: white; 
    border-radius: 0 10px 10px 10px;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

.td span {
    font-size: 8px;
}

.add input::-webkit-input-placeholder {
	color: #b5b5b5;
	font-size: 14px;
	line-height: 100%;
    font-family: 'Apple SD Gothic Neo','MYArirang_gothic','Malgun Gothic',arial,sans-serif;
}

.guide { 
    display: none; 
}

.ok { 
    color: #5EB162; font-size: 13px; 
    font-weight: bold;
}

.error { 
    color: #FF0606; font-size: 13px; 
    font-weight: bold;
} 