@charset "UTF-8";
#title {
    text-align: center;
}

#container {
    text-align: center; 
    width: 350px; 
    margin:auto; 
    margin-top: 20px;
    background-color: #F9F9F9; 
    border: 1px solid #E9D296; 
    border-radius: 30px;
    height: 120px;
}    
#lo {
    width: 350px; 
    margin: auto; 
    margin-top: 20px;
    box-sizing: border-box; 
    border: 3px solid #E9D296; 
    height: 120px;
}    
th, td {
    padding: 7px;
    width: 500px;
}
input {
    background-color: #F9F9F9; 
    width: 300px;
    border: none;
    border-bottom: 1px solid;
}
#table {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.bo {
    width: 120px; 
    height: 30px; 
    background: rgba(94, 177, 98, 0.75); 
    color: white; 
    border-radius: 30px;
    border: none;
}