<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.gammza.chupachups.member.model.dao.MemberDao">
 	<resultMap type="member" id="memberMap"></resultMap>
 	
 	<insert id="insertMember">
 		INSERT INTO MEMBER(USER_ID, USER_PWD, NAME, PHONE, ZIPCODE, ADDRESS, ADDRESSDETAIL, LOCATION, EMAIL, CREATE_AT, UPDATE_AT, STATUS, POINT, TEMPERATURE, KAKAO_IDKEY, NAVER_IDKEY, BIRTHDAY) 
 		VALUES(
 			#{userId},
 			#{userPwd},
 			'김감자',
 			'01012345678',
 			12345,
 			#{address},
 			'이레빌딩',
 			1,
 			#{email},
 			DEFAULT,
 			#{updateAt},
 			DEFAULT,
 			DEFAULT,
 			DEFAULT,
 			null,
 			null,
 			#{birthday}
 		)
 	</insert>
 	
 	
 	<!-- 아이디 중복체크 -->
	<select id="checkIdFunc" resultType="_int">
		select count(*) from member 
		where user_id = #{userId}
	</select>
 	

 	<select id="selectOneMember" resultMap="memberMap">
 		SELECT * FROM MEMBER
 		join location on(location = location_no)
 		 where user_id = #{userId}
 	</select>
 </mapper>