<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.gammza.chupachups.member.model.dao.MemberDao">
 	<resultMap type="member" id="memberMap"></resultMap>
 	
 	<insert id="insertMember">
 		INSERT INTO MEMBER(USER_ID, USER_PWD, NAME, PHONE, ZIPCODE, ADDRESS, ADDRESSDETAIL, LOCATION, EMAIL, CREATE_AT, UPDATE_AT, STATUS, POINT, TEMPERATURE, KAKAO_IDKEY, NAVER_IDKEY, CATEGORY, BIRTHDAY) 
 		VALUES(
 			#{userId},
 			#{userPwd},
 			null,
 			'01012345678',
 			12345,
 			#{address},
 			'이레빌딩',
 			1,
 			#{email},
 			DEFAULT,
 			#{updateAt},
 			DEFAULT,
 			DEFAULT,
 			DEFAULT,
 			null,
 			null,
 			1,
 			#{birthday}
 		)
 	</insert>
 	
 	
 	
 	
 	<select id="selectOneMember" resultMap="memberMap">
 		SELECT * FROM MEMBER
 		WHERE user_id = #{userId}
 	</select>
 
 
 
 </mapper>